  <div class="row container">
    <%= form_for "#{@blog}", method: :patch do |f| %>
      <div class="row">
        <div class="input-field col s4  ">
          <%= f.text_field :title, placeholder: 'title', value: "#{@blog.title}",name: "title", class: "materialize-textarea", id: "textarea1"%>
          <label for="textarea1">Title</label>
        </div>
        <div class="input-field col s10">
          <%= f.text_area :text, placeholder: 'write here FREELY!', value: "#{@blog.text}", name: "text", class: "materialize-textarea", id: "textarea2"%>
          <label for="textarea2">Blog text</label>
        </div>
        <div class="input-field col s10">
          <%= f.text_field :image, placeholder: 'past image url link', value: "#{@blog.image}", name: "image", class: "materialize-textarea", id: "textarea2"%>
          <label for="textarea3">Image</label>
        </div>
        <div class="input-field col s10">
          <%= f.number_field :size, value: "#{@blog.size}",min: 2, max:12, name: "size", class: "materialize-textarea", id: "textarea4"%>
          <label for="textarea4">size (2~12のお好きな数字を今日のあなたの気分で入力！)</label>
        </div>
      </div>
      <div class="row">
        <div class="col10 push1">
          <%= button_tag type: "submit", class: "btn btn--block" do %>
            編集する
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
